html, body {
  height:100%;
  width:100%;
  background-color: rgb(255, 252, 252);
  color: rgb(81, 75, 245);
  
}

h2 {
  color: black;
}
h3 {
  color: #0036b4;
}

.container {
  font-family: Helvetica, Arial, sans-serif;
  height:98%;
  width:98%;
}

.container > * {
  background-color: rgb(226, 227, 255);
  padding: 1em;
}


.content {
  min-height: 40%;
  overflow-y: scroll;
}


.container > * {
  margin-bottom: 2%;
  overflow-y: scroll;
}


@media screen and (min-width: 40em) {
  .container > * {
    margin-bottom: 0;
  }
  /* Define the grid */
  .container {
    display: grid;
    grid-template-columns: 18% 60% 18%;
    grid-gap: 2% 2%;
    grid-template-rows: 10% auto 10%;
  }
  /* Place items on the grid */
  .header {
    grid-column: 1 / span 3;

  }
  .sidebar {
    grid-row-end: span 2;
  }
  .content {
    grid-column: 2;
  }

}
